.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
  }

.col-25{
    flex: 25%;
}

.col-50{
    flex: 50%;
  }
  
  .col-75{
    flex: 75%;
  }
  
  .col-25, .col-50, .col-75{
    padding: 0 20px;
  }
  
  .container{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 3px solid lightgrey;
  }
  
  input[type=text]{
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label{
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container{
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn{
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover{
    background-color: #45a049;
  }
  
  span.price{
    float: right;
    color: black;
  }


  