#profile-banner {
    background-color: #f7c02b;
}

.card-head {
    border-radius: 0px;
    border-width: 0px;
    border-bottom-width: 2px;
    border-style: solid;
    border-color: grey;
    padding: 0.5rem;
}

.card-body {
    font-size: inherit;
}

.card {
    width: unset;
    border-radius: 0px;
    border-width: 0px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    background-color: #f3f3f3;
}
