#banner {
    background: linear-gradient(to right, #d8ac31, #836f2f);
}

.order-img {
    width: 70px;
    height: 70px;
}


.card-header {
    background-color: #d8ac31;
    border-radius: 0px;
    border: 2px;
}

.card-body {
    background-color: #836f2f;
    border-radius: 0px;

}

.card {
    width: 20rem;
}
