
/* Shopping Cart */

#cart-container table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#cart-container table thead{
    font-weight: 700;
}

#cart-container table thead tr td{
    background: gold;
}
